*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    padding: 20px;
}
.card{
    height: 200px;
    width: 390px;
    display: inline-block;
    border: 1px solid grat;
    box-shadow: 5px 3px 8px gray;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(161, 159, 26);
}
.card-heading{
    color: rgb(16, 6, 151);
    margin-top:10px ;
    
}
.card-body{
    color: rgb(27, 95, 10) ;
}
.card-footer{
    margin-top: 20px;
    color: rgb(0, 17, 255);
    font-size: 22px;
}